.father{
  display: flex;
  flex-direction: column;
}
.container1{
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

}
.container2{
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.container3{
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.container4{
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.container5{
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
