.father {
  display: flex;
  flex-direction: row;
}
.container{
  display: flex;
  flex-flow: row wrap;
}
.container > div:nth-child(1){

  order: 5;
}
.container > div:nth-child(2){

  order: 3;
}
.container > div:nth-child(3){

  order: 1;
}
.container > div:nth-child(4){

  order: 2;
}
.container > div:nth-child(5){

  order: 4;
}
